
body{
	width: 100%;
	margin:auto;
	background-color: #626263;
}

p {
  font-size: 0.9vw;
  margin:0;
  font-family: Helvetica;
}

.header {
	position: relative;
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	vertical-align: top;
	padding: 10px;
	margin: 0 auto;
	margin-top: 10px;
	width: 1400px;
	height: 115px;
	background-color: #929191;
}

.header_right{
	float: right;
}

.reload{
}

.loupe {
	position: absolute;
	bottom: -18px;
	right: 29px;
}

.reload img {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 20px;
}

.close img{
	position: absolute;
	bottom: 9px;
	right: 9px;
	width: 20px;
}
.header_left img{
	width: 430px;
}


.game_content {
	position: relative;
	width: 1362px;
	height: 720px;
	margin: 22px auto;
}

.green_box {

	position: absolute;
	bottom: 2vw;
	left: -4vw;
	right: -5vw;
	min-width: 383px;
	min-height: 126px;
    z-index: 2;
    width: 483px;
    height: 146px;
    padding: 10px 18px;
    background-color: #90FA6B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    box-shadow: black 0.5em 0.5em 0.5em;
}

.green_box p {
	font-size: 16px;
	font-weight: 500;
	margin-top: 0px;
	margin-left: 5px;
	margin-bottom: 0;
}
.bold_text {
    font-size: 30px;
    font-weight: 300;
    font-family: serif;
}
.underlined_text {
    text-shadow: 7px 4px 4px red;
}
.italic_text {
    font-style: italic;
    position: relative;
    top: -2px;
    left: 1px;
}
.green_box input {
    position: relative;
    font-size: 12px;
    width: 356px;
    left: -1px;
    top: 0px;
}
.green_box button {
    position: relative;
	font-size: 14px;
    width: 80px;
    left: -5px;
    top: 0px;
}

.left_menu {
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	width: 140px;
	height: 430px;
	margin-right: 30px;
	background-color: #8f8f8f;
	float: left;
}

.arrow {
	display:block;
  	width:50%;
  	margin:auto;
  	margin-top:10%;
}
.hand {
	display:block;
  	width:50%;
  	margin:auto;
  	margin-top:10%;

}
.eye {
	display:block;
  	width:50%;
  	margin:auto;
  	margin-top:10%;
  	border: 5px solid red;
	border-radius: 6px

}
.tools {
	display:block;
  	width:50%;
  	margin:auto;
  	margin-top:10%;
}
.dialog {
	display:block;
  	width:50%;
  	margin:auto;
  	margin-top:10%;
}
.left .left_column{
	padding: 8px 30px;
}
.towel {
	position: absolute;
	top: 120px;
	left: 36px;
	width: 71px;
}
.book {
	position: absolute;
	top: 13px;
	left: 36px;
	width: 71px;
}   
.wall {
	position: absolute;
	width: 120px;
	height: 75px;
	top: 175px;
	left: 10px;
	background-image: url(resources/brick.jpg);
	background-repeat: repeat;
	background-size: 27% 45%;
}

.center {
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	width: 1020px;
	height: 580px;
	margin-right: 30px;
	background-color: #8f8f8f;
	float: left;
}

.content .center .ikea {
	height: 225px;
	width: 160px;
	position: absolute;
	margin-left: 310px;
	margin-top: 300px;
}

.content .center .apple {
	height: 200px;
	width: 210px;
	position: absolute;
	margin-left: 780px;
	margin-top: 300px;
}


.zone {
    z-index: 1;
    display: inline-block;
    width: 1325px;
    height: 100%;
}
.zone img {
	width: 1000px;
	position: absolute;
	height: 561px;
	top: 10px;
	left: 182px;
}

.right_menu {
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	width: 140px;
	height: 430px;
	background-color: #8f8f8f;
	float: left;
	position: relative;
}


